*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

	color: #000;

	text-decoration: none;
}

body {
	display: flex;
	width: 100vw;
	// min-height: 100vh;
	height: 100vh;

	margin: 0;
	font-weight: 600;
}

.navbar {
	height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 500px) {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 20px;

		margin: 20px 0;
	}

	.help {
		display: flex;
		align-items: center;
		gap: 20px;

		margin: auto;
	}
}

.column {
	width: 100%;

	display: flex;
	flex-direction: column;

	@media (max-width: 500px) {
		width: 100vw;
	}

	.menu {
		height: 100px;
		width: 100%;

		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		align-items: center;

		@media (max-width: 500px) {
			height: 75px;

			grid-template-columns: min-content auto;
			grid-template-rows: auto;
		}

		font-size: 1rem;
		font-weight: 600;

		.searchBar {
			display: flex;
			justify-content: center;
			gap: 10px;

			margin: 10px;

			@media (max-width: 500px) {
				grid-column: 1;
				grid-row: 1;
			}

			input {
				font-size: 1rem;
				font-weight: 600;

				background: none;
				border: none;

				@media (max-width: 500px) {
					font-size: 14px;
				}
			}
		}

		nav {
			width: 100%;

			display: flex;

			@media (max-width: 500px) {
				display: none;
			}

			a {
				position: relative;
				display: flex;

				margin: auto;

				border: solid;
				border-width: 0 10px;
				border-color: transparent;

				&:hover {
					&::after {
						content: '';
						position: absolute;

						width: 100%;
						height: 3px;

						background-color: #000;

						bottom: -10px;
					}
				}
			}
		}

		.icons {
			display: flex;
			justify-content: center;
			gap: 20px;

			@media (max-width: 500px) {
				grid-column: 2;
				grid-row: 1;

				justify-content: flex-end;
				margin-right: 20px;
			}
		}
	}

	.select-menu {
		display: none;

		@media (max-width: 500px) {
			display: flex;
			justify-content: space-around;
		}

		button {
			background: none;

			font-size: 14px;
			font-weight: 600;

			border: none;
		}
	}

	.units {
		width: 100%;
		height: 100%;
		max-height: calc(100vh - 100px);

		display: grid;

		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: auto auto auto auto;

		padding: 10px;

		.vertical {
			position: relative;

			.icon {
				position: absolute;
				top: 10px;
				right: 10px;

				background: #fff;
				padding: 5px;
				border-radius: 100%;
			}
		}

		div {
			display: flex;
			margin: 10px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.c1-2 {
	grid-column: 1 / span 2;
}

.r1 {
	grid-row: 1;
}

.r2 {
	grid-row: 2;
}

.c3 {
	grid-column: 3;
}

.r1-2 {
	grid-row: 1 / span 2;
}

.c4 {
	grid-column: 4;
}

.c1 {
	grid-column: 1;
}

.r3-4 {
	grid-row: 3 / span 2;
}

.c2 {
	grid-column: 2;
}

.c3-4 {
	grid-column: 3 / span 2;
}

.r3 {
	grid-row: 3;
}

.r4 {
	grid-row: 4;
}
